<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrando Resenas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/deleteResena.css">
    <link rel="stylesheet" href="/uikit-3.1.5/css/uikit.min.css" />
</head>
<body>

    <!-- empieza el header -->

<%- include('./partials/header.ejs') %>

<!-- termina el header -->


    <!-- login -->


    <h2 class="borrarh">Borrar tu resena:</h2> 
    <form action="/misResenas/delete/<%=deleteId%>" method="post">
        <!-- es form? -->

        <br><br>

        <label class="tbcentered">Email:</label>
        <input type="email" placeholder="mimail@mail.com" name="email" required="required">
        <br>
    
        <label class="tbcentered" >Contrasena:</label>
        <input type="password" placeholder="password123" name="password">

        <br>
        <input type="text" hidden value="<%=resultado.usuario_id%>" name="usuario_id">
        <a href="/misResenas/<%=resultado.usuario_id%>" class="botongoback">GO BACK</a>
            <!-- como hago para que sea el id del user? -->
        <button type="submit" value="submit" class="botonconfirm" name="submit">CONFIRM</button>

    </form> 
    

<!-- footer y links a js -->

<%- include('./partials/footer.ejs') %>
<script type="text/javascript" src="/js/deleteResena.js"></script>


</body>
</html>