<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas ilegales</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/misResenas.css">
    <link rel="stylesheet" href="/uikit-3.1.5/css/uikit.min.css" />
</head>
<body>

    <!-- empieza el header -->

<%- include('./partials/header.ejs') %>

<!-- termina el header -->


    <!-- login -->

    
    <h2>Mis Resenas:</h2>
    <ul>
      <% for(let i=0; i<listaMisResenas.length; i++){ %>
          <!-- crear listaMisResenas en controller -->
        <li>
             <p>PeliculaId: <%= listaMisResenas[i].pelicula_id %></p> 
             <!-- y para el nombre? -->
             <p>Resena: <%= listaMisResenas[i].texto_resena %></p>
             <p>Puntaje: <%= listaMisResenas[i].puntaje %></p>
            <p>Fecha Creacion: <%= listaMisResenas[i].fecha_creacion %></p> 
            <p>Fecha Actualizacion: <%= listaMisResenas[i].fecha_actualizacion %></p> 
                <!-- estos dos?? -->

            
        </li>
     <% } %> 
    </ul>   



<!-- footer y links a js -->

<%- include('./partials/footer.ejs') %>

<%- include('./partials/links.ejs') %>

</body>
</html>